/* reset */

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  height: 100%
}

*, :after, :before {
  box-sizing: inherit;
}

/* header */

.header {
  z-index: 1;
  position: fixed;
  width: 100%;
  background: #f7f7f7;
  border-top: 10px solid #00653e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
}

.header-container {
  padding: 1.6rem 4.8rem;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tagline {
  font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: .18rem;
}

/* main-content */

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-top: 115px;
  min-width: 1000px;
}

#map {
  flex-basis: 60%;
  order: 2;
  position: relative;
  flex-direction: column;
}

.locations-container {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  order: 1;
  position: relative;
}

.locations-header-container {
  background: #fff;
  margin-bottom: 1.6rem;
  padding-bottom: .8rem;
  min-height: 50px;
  padding: 0 2.2rem;
  width: 100%;
}

.locations-header {
  display: flex;
  position: relative;
  padding-top: 1.6rem;
  font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: .18rem;

}

.locations {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.location-item p:first-child {;
  font-weight: 700;
  font-size: 14px;
}

.location-item {
  font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 16px 32px;
  font-size: 13px;
  line-height: 10px;
}

.location-item:hover {
  background: #fafafa;
  cursor: pointer;
}
